@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700|Montserrat|Raleway|Roboto');
/* RESET + GATBY BOILERPLATE */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* GENERAL PAGE STYLING */



.App {
  background-image: url('./shattered-island.gif');
  text-align: center;
}

.header h1 {
  font-family: 'Montserrat',
  sans-serif;
  font-size: 50px;
  line-height: 30px;
}

.header h1 strong {
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 50px;
  line-height: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.section {
  padding: 50px;
}

.heading {
  font-family: 'Oswald';
  color: white;
  font-weight: 200;
}

/* WELCOME CSS */

.Welcome {
  display: flex;
  background-color: rgba(255, 255, 255);
  background: url('./mountainsBW.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 75vh;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
  /* vert */
  text-align: start;
  /* container */
  justify-content: center;
  /* horr */
}

.Welcome .i-hov {
  color: black;
  margin: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Welcome .i-hov:hover {
  color: #00f2e6d0;
  display: inline-block;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #00f2e7;
  border: 2px solid;
  border-color: #00f2e7;
  color: white;
}

.welcome-intro {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.welcome-intro strong {
  font-family: 'Raleway',
  sans-serif;
  font-weight: 900;
}


/* HEADER + NAV */

.NavBar {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid #000000;
  background-color: #272830cb;
  z-index: 500;
}

.nav-item {
  font-family: 'Oswald',
  sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  float: right;
}

.nav-last {
  margin-right: 50px;
}

.nav-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 36px;
  display: block;
  position: fixed;
  margin-left: 60px;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

.nav-link {
  display: block;
  font-stretch: expanded;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-link:hover:not(.active) {
  background-color: #bafffc;
  color: #16223c;
}

.nav-link.active {
  color: white;
  background-color: #4caf50;
}

/* PROJECTS */

.Projects {
  background-color: rgb(219, 250, 255);
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* PROJECT OVERLAY */

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    margin: 10px 0;
    padding: 0;
    /* border: #000 solid 1px; */
    align-content: center;
    position: relative;
  }
  
.thumb {
  width: 25em;
  -webkit-filter: blur(2px) grayscale(1) brightness(0.4);
  filter: blur(2px) grayscale(1) brightness(0.4);
}

.item:hover,
.thumb:hover {
  opacity: 1;
  -webkit-filter: grayscale(0) blur(0) brightness(1);
  filter: grayscale(0) blur(0) brightness(1);
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
  height: 90%;
  transition: .5s ease;
}

.item:hover .overlay {
  bottom: 100%;
  height: 0;
}

.text {
  color: black;
  font-size: 20px;
  justify-content: center;
  vertical-align: baseline;
  padding: 2em 1em;
}

.text a {
  color: #00c8c8;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.text>ul {
  display: flex;
  flex-direction: row;
}

/* ABOUT */

.About {
  display:flex;
  flex-direction: row-wrap;
}

.about-intro {
  font-family: 'Montseurat', sans-serif;
  font-weight: 150;
  color: white;
  font-size: 45px;
}

.about-intro strong {
  font-weight: 900;
  color: white;
}

.about-content {
  min-width: 300px;
  flex: 2;
}

.about-content:nth-child(2) {
  min-width: 300px;
  flex: 1;
}

.about-item a {
  color: white;
  text-decoration: none;
}

.about-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
  padding: 10px 40px;
}

.about-item strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: white;
}

.About span {
  text-decoration: underline;
}

.profile {
  height: auto;
  width: auto;
  border-radius: 50%;
}

/* FOOTER */

.Footer {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  z-index: 500;
  background: #bafffc;
  background: -webkit-linear-gradient(to right, #bafffc, #f1f1f1);
  background: linear-gradient(to right, #bafffc, #f1f1f1);
  display: grid;
  grid-template-columns: 15% 40% 30% 15%;
}

.footer-1{
  grid-column: 2 / span 1;
}

.footer-2 {
  grid-column: 3 / span 1;
}

.Footer div {
  text-align: center;
}

.Footer {
  padding: 15px 0px;
  width: 100%;
}

.Footer a {
  text-decoration: none;
  color: black;
  line-height: 10px;
  font-size: 18px;
}

.Footer h3 {
  font-size: 30px;
  line-height: 10px;
}

.footer-full {
  grid-column: 2 / span 2;
}